@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "reset";
@import "fonts";
@import "header";

body {
  font-family: "OpenSans";
  background-color:#8d8d8d;
}
body.lock {
  @media (max-width:768px) {
    overflow: hidden;
  }
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}


